.notification {
	font-family: Avenir;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	height: 40px;

	background-color:  #FF5761;
	color: #fff;
	border: 0;
	padding: 8px 16px;
	border-radius: 4px ;
}





