.main{	
	display: block;
	position: relative;

	.checkbox{
		appearance: none;
		width: 12px; 
		height: 12px;
		outline: 0;
		border-radius: 2px;
		border: 1px solid #9C9C9C;
		margin-right: 10px;
		vertical-align: middle;

		&:checked{
			background: #E4163A;
			border: 1px solid #E4163A;
			background-image: url('/src/assets/icons/checkbox.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
		&:hover{
			border: 1px solid #E4163A;		
		}
		&:disabled{
			background: #F6F6F6;
			border: 1px solid #D1D1D1		
		}
		&:disabled + .label{
			color: #D1D1D1;		
		}		
		&:checked:disabled{
			background: #D1D1D1;
			border: 1px solid #D1D1D1;
			background-image: url('/src/assets/icons/checkbox.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
		.errorCheckbox{
			border: 1px solid #FF768E;
		}
	}

	.label{
		color: #707070;
		font-family: Avenir;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		display: inline-block;
		vertical-align: middle;

		.errorLabel{
			color: #FF768E;
		}
	}

	.errorMessage {
		color: #FF768E;
		font-size: 12px;
		display: block;
		position: absolute;
		bottom: 4px;
	}
}




