.link{
	color: #E4163A;
	text-decoration: underline #E4163A;
	font-family: Avenir;
	font-size: 14px;
	font-weight: 500;
	line-height: 19.12px;

}

.disabled{
	color: #D1D1D1;
	text-decoration: underline  #D1D1D1;
	pointer-events: none;
}